@keyframes color_change {
  0% { background-color: rgb(207, 207, 214); }
25% { background-color: rgb(199, 193, 201); }
50% { background-color: rgb(225, 228, 226); }
75% { background-color: rgb(241, 240, 230); }
100% { background-color: rgb(223, 215, 222); }
}
body {
  text-align: center;
  animation: color_change 45s infinite alternate;
}
a {
  text-decoration: none;
  color: black;
}
#title {
  font-size: 7em;
  font-style: italic;
  font-weight: 800;
  color: red;
}
#menu {
  margin-bottom: 2em;
}
#scoreCard {
  border: 1px solid black;
  background-color: white;
}
td {
  border: 1px solid black;
  padding: 1.9em;
  font-weight: bold;
}
th {
  border: 1px solid black;
  padding: 1.9em;
}
#highScore{
  width:8em;
  height: 2em;
  border: 2px solid black;
  margin-bottom: 1em;
  background-color: white;
}
#diceBox{
  background-color: white;
  border: 2px solid black;
  height: 19.4em;
  width: 20em;
  z-index: -1;
}
.dice {
  height: 3em;
  width: 3em;
  border: 2px solid black;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
  display: block;
}
.face1{
  background: url("../images/one.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.face2{
  background: url("../images/two.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.face3{
  background: url("../images/three.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.face4{
  background: url("../images/four.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.face5{
  background: url("../images/five.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.face6{
  background: url("../images/six.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#roll {
  margin: 1em;
  width: 9em;
}
.rotate{
  transform: rotate(40deg);
}
.rotate2{
  transform: rotate(20deg);
}
.rotate3{
  transform: rotate(-20deg);
}

.checked {
  color: black;
  font-weight: bold;
}
.held{
  border: 2px solid red;
  box-shadow: 0px 0px 10px 5px lightblue;
}
.active{  /* for dice */
}
.inplay{ /* for scores */
  color: red;
}
